<script>
    function show() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'text');
    }

    function hide() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'password');
    }

    var pwShown = 0;

    document.getElementById("eye").addEventListener("click", function() {
        if (pwShown == 0) {
            pwShown = 1;
            show();
        } else {
            pwShown = 0;
            hide();
        }
    }, false);

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function isAdminNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<div class="AddCompanyController" style="padding:20px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Add Company</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Master</a></li>
                        <li class="breadcrumb-item active">Add Company</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card card-body mt-3">
                <div class="col-sm-6">
                    <h4 style="font-weight: bold;">Company Details</h4>
                </div>
                <form ng-submit="submitCompany()">
                    <div class="col-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>Business Category</label>
                                    <select class="form-control form-control-sm" ng-init="" ng-model="BusinessCategoryId" required>
                                    <option value="" disabled>Nothing Selected</option>
                                        <option ng-repeat="sel in BusinessCategoryList"
                                            ng-selected="BusinessCategoryId == sel" value="{{sel._id}}">
                                            {{sel.businessCategoryName}}</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" style="text-transform: lowercase;" class="form-control form-control-sm" ng-model="CompanyName" required="" placeholder="Company Name" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control form-control-sm" required="" onkeypress="return isNumber(event)" maxlength="10" ng-model="Phone" placeholder="Phone" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Address 1</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="Address1" placeholder="Address 1" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Address 2</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="Address2" placeholder="Address 2" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Date Of Join</label>
                                    <input type="date" class="form-control form-control-sm" required="" ng-model="DOJ" placeholder="DOJ" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>City</label>
                                    <select class="form-control form-control-sm" ng-init="" ng-model="CityId" required>
                                    <option value="" disabled>Nothing Selected</option>
                                        <option ng-repeat="sel in CityList"
                                            ng-selected="CityId == sel" value="{{sel._id}}">
                                            {{sel.cityName}}</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Zipcode</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="Zipcode" placeholder="Zipcode" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Map Location</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="MapLocation" placeholder="Map Location" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Company Type</label>
                                    <select class="form-control form-control-sm" ng-init="" ng-model="CompanyType" required>
                                    <option value="" disabled>Nothing Selected</option>
                                        <option ng-repeat="sel in MessageList"
                                            ng-selected="CompanyType == sel" value="{{sel}}">
                                            {{sel}}</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Person Name</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="PersonName" placeholder="Person Name" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Company Logo</label>
                                    <input type="file" class="btn-sm form-control-sm" file-input="CompanyLogo">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Fax</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="Fax" placeholder="Fax" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Url</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="Url" placeholder="Url" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-5">
                        <h4 style="font-weight: bold;">Bank Details</h4>
                    </div>
                    <div class="col-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="BankName" required="" placeholder="Bank Name" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bank Branch Name</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="BankBranchName" placeholder="Bank Branch Name" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bank Address</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="BankAddress" placeholder="Bank Address" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bank State</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="BankState" placeholder="Bank State" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bank City</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="BankCity" placeholder="Bank City" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bank Account No</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="BankAccountNo" placeholder="Bank Account No" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bank IFSC Code</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="BankIFSCCode" placeholder="Bank IFSC Code" autocomplete="off">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 mt-5">
                        <h4 style="font-weight: bold;">ID Proof</h4>
                    </div>
                    <div class="col-12 col-sm-12">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Person Image</label>
                                    <input type="file" class="btn-sm form-control-sm" file-input="PersonImage">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Aadhar Card</label>
                                    <input type="file" class="btn-sm form-control-sm" file-input="AadharCard">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pan Cards</label>
                                    <input type="file" class="btn-sm form-control-sm" file-input="PanCard">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cancelled Cheque</label>
                                    <input type="file" class="btn-sm form-control-sm" file-input="CancelledCheque">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Gstin No</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="GstinNo" placeholder="Gstin No" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pancard No</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="PancardNo" placeholder="Pancard No" autocomplete="off">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 mt-5">
                        <h4 style="font-weight: bold;">Login Detail</h4>
                    </div>
                    <div class="col-12 col-sm-12">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Support Email</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="SupportEmail" placeholder="Support Email" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Admin Email</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="AdminEmail" placeholder="Admin Email" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>Admin Password</label>

                                            <input type="password" placeholder="Password" id="pwd" ng-model="AdminPassword" class="form-control form-control-sm" name="password" autocomplete="off" />


                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label></label>
                                            <i class="fa fa-eye" id="eye" style="margin-top: 36px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Admin Mobile</label>
                                    <input type="text" id=pass class="form-control form-control-sm" required="" onkeypress="return isAdminNumber(event)" ng-model="AdminMobile" placeholder="Admin Mobile" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Week Start Day</label>
                                    <select class="form-control form-control-sm" ng-init="" ng-model="WeekStartDay" required>
                                        <option value="" disabled>Nothing Selected</option>
                                            <option ng-repeat="sel in WeekStartDayList"
                                                ng-selected="WeekStartDay == sel" value="{{sel}}">
                                                {{sel}}</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Cancellation Policy</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="CancellationPolicy" placeholder="Cancellation Policy" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Company Html Page</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="CompanyHtmlPage" placeholder="Company Html Page" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>RegistrationValidUpto</label>
                                    <input type="date" class="form-control form-control-sm" ng-model="RegistrationValidUpto" placeholder="Registration Valid Upto" autocomplete="off">

                                </div>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary mt-4 btn-lg" ng-disabled="btnsave">Save changes</button>
                </form>
            </div>
        </div>
    </div>

</div>