<script>
    function show() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'text');
    }

    function hide() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'password');
    }

    var pwShown = 0;

    document.getElementById("eye").addEventListener("click", function() {
        if (pwShown == 0) {
            pwShown = 1;
            show();
        } else {
            pwShown = 0;
            hide();
        }
    }, false);
</script>
<div class="AddCompanyController" style="padding:10px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Company</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Master</a></li>
                        <li class="breadcrumb-item active">Company</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card card-body table-responsive">
                <div class="col-sm-6">
                    <h4>Add Company</h4>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="card card-body table-responsive" style="box-shadow: 1px 1px 1px rgba(0,0,0,.125), 0px 0px 8px rgba(0,0,0,.2);">
                        <form ng-submit="">
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>Business Category</label>
                                        <select class="form-control form-control-sm" ng-init="" ng-model="BusinessCategoryId" required>
                                    <option value="" disabled>Nothing Selected</option>
                                        <option ng-repeat="sel in BusinessCategoryList"
                                            ng-selected="BusinessCategoryId == sel" value="{{sel}}">
                                            {{sel.businessCategoryName}}</option>
                                  </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Company Name</label>
                                        <input type="text" style="text-transform: uppercase;" class="form-control form-control-sm" ng-model="CompanyName" required="" placeholder="Company Name" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="number" class="form-control form-control-sm" required="" maxlength="10" ng-model="Phone" placeholder="Phone" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Address 1</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="Address1" placeholder="Address 1" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="Address2" placeholder="Address 2" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Date Of Join</label>
                                        <input type="date" class="form-control form-control-sm" required="" ng-model="DOJ" placeholder="DOJ" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control form-control-sm" ng-init="" ng-model="CityId" required>
                                    <option value="" disabled>Nothing Selected</option>
                                        <option ng-repeat="sel in CityList"
                                            ng-selected="CityId == sel" value="{{sel}}">
                                            {{sel.cityName}}</option>
                                  </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Zipcode</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="Zipcode" placeholder="Zipcode" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Map Location</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="MapLocation" placeholder="Map Location" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Company Type</label>
                                        <select class="form-control form-control-sm" ng-init="" ng-model="CompanyType" required>
                                    <option value="" disabled>Nothing Selected</option>
                                        <option ng-repeat="sel in MessageList"
                                            ng-selected="CompanyType == sel" value="{{sel}}">
                                            {{sel}}</option>
                                  </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Person Name</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="PersonName" placeholder="Person Name" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Company Logo</label>
                                        <input type="file" class="btn-sm form-control-sm" file-input="files" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="Fax" placeholder="Fax" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Url</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="Url" placeholder="Url" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>Bank Details</h4>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="card card-body table-responsive" style="box-shadow: 1px 1px 1px rgba(0,0,0,.125), 0px 0px 8px rgba(0,0,0,.2);">
                        <form ng-submit="">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Bank Name</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="BankName" required="" placeholder="Bank Name" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Bank Branch Name</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="BankBranchName" placeholder="Bank Branch Name" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Bank Address</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="BankAddress" placeholder="Bank Address" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Bank State</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="BankState" placeholder="Bank State" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Bank City</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="BankCity" placeholder="Bank City" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="BankCity" placeholder="Bank City" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Bank Account No</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="BankAccountNo" placeholder="Bank Account No" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Bank IFSC Code</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="BankIFSCCode" placeholder="Bank IFSC Code" autocomplete="off">
                                    </div>
                                </div>

                            </div>
                        </form>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>Id Proof</h4>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="card card-body table-responsive" style="box-shadow: 1px 1px 1px rgba(0,0,0,.125), 0px 0px 8px rgba(0,0,0,.2);">
                        <form ng-submit="">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Person Image</label>
                                        <input type="file" class="btn-sm form-control-sm" file-input="files" required>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Aadhar Card</label>
                                        <input type="file" class="btn-sm form-control-sm" file-input="files" required>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Pan Card</label>
                                        <input type="file" class="btn-sm form-control-sm" file-input="files" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Cancelled Cheque</label>
                                        <input type="file" class="btn-sm form-control-sm" file-input="files" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Gstin No</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="GstinNo" placeholder="Gstin No" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Pancard No</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="PancardNo" placeholder="Pancard No" autocomplete="off">

                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>login Detail</h4>
                </div>
                <div class="col-12 col-sm-12">
                    <div class="card card-body table-responsive" style="box-shadow: 1px 1px 1px rgba(0,0,0,.125), 0px 0px 8px rgba(0,0,0,.2);">
                        <form ng-submit="">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Support Email</label>
                                        <input type="text" class="form-control form-control-sm" ng-model="SupportEmail" placeholder="Support Email" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Admin Email</label>
                                        <input type="text" class="form-control form-control-sm" required="" ng-model="AdminEmail" placeholder="Admin Email" autocomplete="off">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>Admin Password</label>
                                                <!-- <input type="password" class="form-control form-control-sm" required="" ng-model="AdminPassword" placeholder="Admin Password" autocomplete="off"> -->
                                                <input type="password" placeholder="Password" id="pwd" ng-model="AdminPassword" class="form-control form-control-sm" name="password" autocomplete="off" />


                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label></label>
                                                <i class="fa fa-eye" id="eye" style="margin-top: 36px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Admin Mobile</label>
                                        <input type="text" id=pass class="form-control form-control-sm" required="" ng-model="AdminMobile" placeholder="Admin Mobile" autocomplete="off">

                                    </div>
                                </div>

                            </div>
                        </form>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>