<div class="BookingHistoryController" style="padding:10px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Booking History</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Master</a></li>
                        <li class="breadcrumb-item active">Booking History</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card card-body table-responsive">
                <div class="col-sm-6">
                    <h4 style="font-weight: bold;">Booking History</h4>
                </div>
                <div class="card card-primary card-outline card-outline-tabs">
                    <div class="card-header p-0 border-bottom-0">
                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Pending</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Completed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Cancelled</a>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Order No</th>
                                            <th>Company Name</th>
                                            <th>Inventory Name</th>
                                            <th>Service Provider Name</th>
                                            <th>Booking Date</th>
                                            <th>Appointment Date</th>
                                            <th>Appointment Time</th>
                                            <th>bookingForName</th>
                                            <th>mobileNo</th>
                                            <th style="width: 40px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in DataList">
                                            <td>{{$index+1}}</td>
                                            <td>{{data.Pending[0].orderNo}}</td>
                                            <td>{{data.Pending[0].companyName}}</td>
                                            <td>{{data.Pending[0].inventoryName}}</td>
                                            <td>{{data.Pending[0].serviceProviderName}}</td>
                                            <td>{{data.Pending[0].bookingDate | date: "dd/MM/yyyy"}}</td>
                                            <td>{{data.Pending[0].appointmentDate | date: "dd/MM/yyyy"}}</td>
                                            <td>{{data.Pending[0].appointmentTime}}</td>
                                            <td>{{data.Pending[0].bookingForName}}</td>
                                            <td>{{data.Pending[0].mobileNo}}</td>
                                            <td width=10%>

                                                <button type="button" class="btn btn-danger btn-sm btn-flat" data-toggle="modal" ng-click="DeleteData(data._id)"><i class="fa fa-trash"></i>
                                            </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Order No</th>
                                            <th>Company Name</th>
                                            <th>Inventory Name</th>
                                            <th>Service Provider Name</th>
                                            <th>Booking Date</th>
                                            <th>Appointment Date</th>
                                            <th>Appointment Time</th>
                                            <th>bookingForName</th>
                                            <th>mobileNo</th>
                                            <th style="width: 40px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in DataList">
                                            <td>{{$index+1}}</td>
                                            <td>{{data.Complete[0].orderNo}}</td>
                                            <td>{{data.Complete[0].companyName}}</td>
                                            <td>{{data.Complete[0].inventoryName}}</td>
                                            <td>{{data.Complete[0].serviceProviderName}}</td>
                                            <td>{{data.Complete[0].bookingDate | date: "dd/MM/yyyy"}}</td>
                                            <td>{{data.Complete[0].appointmentDate | date: "dd/MM/yyyy"}}</td>
                                            <td>{{data.Complete[0].appointmentTime}}</td>
                                            <td>{{data.Complete[0].bookingForName}}</td>
                                            <td>{{data.Complete[0].mobileNo}}</td>
                                            <td width=10%>

                                                <button type="button" class="btn btn-danger btn-sm btn-flat" data-toggle="modal" ng-click="DeleteData(data._id)"><i class="fa fa-trash"></i>
                                            </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                                <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Order No</th>
                                            <th>Company Name</th>
                                            <th>Inventory Name</th>
                                            <th>Service Provider Name</th>
                                            <th>Booking Date</th>
                                            <th>Appointment Date</th>
                                            <th>Appointment Time</th>
                                            <th>bookingForName</th>
                                            <th>mobileNo</th>
                                            <th style="width: 40px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in DataList">
                                            <td>{{$index+1}}</td>
                                            <td>{{data.Cancelled[0].orderNo}}</td>
                                            <td>{{data.Cancelled[0].companyName}}</td>
                                            <td>{{data.Cancelled[0].inventoryName}}</td>
                                            <td>{{data.Cancelled[0].serviceProviderName}}</td>
                                            <td>{{data.Cancelled[0].bookingDate | date: "dd/MM/yyyy"}}</td>
                                            <td>{{data.Cancelled[0].appointmentDate | date: "dd/MM/yyyy"}}</td>
                                            <td>{{data.Cancelled[0].appointmentTime}}</td>
                                            <td>{{data.Cancelled[0].bookingForName}}</td>
                                            <td>{{data.Cancelled[0].mobileNo}}</td>
                                            <td width=10%>

                                                <button type="button" class="btn btn-danger btn-sm btn-flat" data-toggle="modal" ng-click="DeleteData(data._id)"><i class="fa fa-trash"></i>
                                            </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>

</div>