<div class="BusinessCategoryController">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Business Category</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Business Category</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Membership Type</h3>
                            <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#modal-lg" ng-click="Clear()">
                                Add Business Category
                              </button>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Business Icon</th>
                                        <th>Category Name</th>
                                        <th>Start Date</th>
                                        <th>Booking Amt</th>
                                        <th>Client Amt</th>
                                        <th>Refund Amt</th>
                                        <th>CGST Percent</th>
                                        <th>SGST Percent Fee</th>
                                        <th>IGST Percent</th>

                                        <th style="width: 40px">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in DataList">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <a ng-href="{{imageroute}}/{{data.businessIcon}}" target="_blank">
                                                <img ng-src="{{imageroute}}/{{data.businessIcon}}" style="width: 100px;height: 100px;" />
                                            </a>
                                        </td>
                                        <td>{{data.businessCategoryName}}</td>
                                        <td>{{data.startDate}}</td>
                                        <td>{{data.bookingAmt}}</td>
                                        <td>{{data.clientAmt}}</td>
                                        <td>{{data.refundAmt}}</td>
                                        <td>{{data.csgtPercent}}</td>
                                        <td>{{data.sgstPercent}}</td>
                                        <td>{{data.igstPercent}}</td>
                                        <td width=10%>

                                            <button type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#modal-lg" ng-click="EditData(data)"><i class="fa fa-edit"></i>
                                        </button>

                                            <button type="button" class="btn btn-info btn-sm " data-toggle="modal" ng-click="DeleteData(data._id)"><i class="fa fa-trash"></i>
                                        </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </section>

    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Large Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <form ng-submit="submitBusinessCategory()">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <select class="form-control" ng-model="BusinessCategory" required>
                                        <option value="" selected="selected">~ SELECT ~</option>
                                            <option ng-repeat="sel in MessageList"
                                                ng-selected="BusinessCategory == sel" value="{{sel}}">
                                                {{sel}}</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <input type="date" class="form-control" ng-model="StartDate" required="" placeholder="Start Date" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Booking Amount</label>
                                    <input type="text" class="form-control" required="" ng-model="BookingAmount" placeholder="Booking Amount" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Client Amount</label>
                                    <input type="text" class="form-control" required="" ng-model="ClientAmount" placeholder="Client Amount" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Refund Amount</label>
                                    <input type="text" class="form-control" required="" ng-model="RefundAmount" placeholder="Refund Amount" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CGST Percent</label>
                                    <input type="text" class="form-control" required="" ng-model="CGSTPercent" placeholder="CGST Percent" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>SGST Percent</label>
                                    <input type="text" class="form-control" required="" ng-model="SGSTPercent" placeholder="SGST Percent" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>IGST Percent</label>
                                    <input type="text" class="form-control" required="" ng-model="IGSTPercent" placeholder="IGST Percent" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Registration Icon</label>
                                    <input type="file" file-input="files">
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="btnsave">Save changes</button>
                    </div>

                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>

</div>