<div class="CityController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>City</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">City</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">City</h3>
                            <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#modal-lg" ng-click="Clear()">
                                Add City
                              </button>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>City Code</th>
                                        <th>City Name</th>
                                        <th>State Name</th>
                                        <th>State Code</th>
                                        <th style="width: 40px">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in DataList">
                                        <td>{{$index+1}}</td>
                                        <td>{{data.cityCode}}</td>
                                        <td>{{data.cityName}}</td>
                                        <td>{{data.stateName}}</td>
                                        <td>{{data.stateCode}}</td>
                                        <td width=10%>

                                            <button type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#modal-lg" ng-click="EditData(data)"><i class="fa fa-edit"></i>
                                        </button>

                                            <button type="button" class="btn btn-info btn-sm " data-toggle="modal" ng-click="DeleteData(data._id)"><i class="fa fa-trash"></i>
                                        </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </section>

    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Large Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <form ng-submit="submitCity()">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City Code</label>
                                    <input type="text" class="form-control" ng-model="CityCode" required="" placeholder="City Code" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City Name</label>
                                    <input type="text" class="form-control" required="" ng-model="CityName" placeholder="City Name" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State Code</label>
                                    <input type="text" class="form-control" required="" ng-model="StateCode" placeholder="State Code" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State Name</label>
                                    <input type="text" class="form-control" required="" ng-model="StateName" placeholder="State Name" autocomplete="off">

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="btnsave">Save changes</button>
                    </div>

                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>