<div class="CityController" style="padding:10px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>City</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Master</a></li>
                        <li class="breadcrumb-item active">City</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-lg" ng-click="Clear()">
                               <i class="fa fa-plus"></i> &nbsp;Add City
                            </button>
                        </div>

                        <div class="card-body">
                            <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>City code</th>
                                        <th>City name</th>
                                        <th>State name</th>
                                        <th>State code</th>
                                        <th>Is Active</th>
                                        <th style="width: 40px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in DataList">
                                        <td>{{$index+1}}</td>
                                        <td>{{data.cityCode}}</td>
                                        <td>{{data.cityName}}</td>
                                        <td>{{data.stateId.stateName}}</td>
                                        <td>{{data.stateId.stateCode}}</td>
                                        <td>
                                            <span class="badge badge-info" ng-show="data.status">Yes</span>
                                            <span class="badge badge-danger" ng-show="!data.status">No</span>
                                        </td>
                                        <td width=10%>

                                            <button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="modal" data-target="#modal-lg" ng-click="EditData(data)"><i class="fa fa-edit"></i>
                                        </button>

                                            <button type="button" class="btn btn-danger btn-sm btn-flat" data-toggle="modal" ng-click="DeleteData(data._id)"><i class="fa fa-trash"></i>
                                        </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-lg">City</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <form ng-submit="submitCity()">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City Code <code>(Mannual Code Entry)</code></label>
                                    <input type="text" class="form-control form-control-sm" ng-model="CityCode"  required="" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City Name</label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="CityName" autocomplete="off">

                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label>State Code <code>(As Per GST)</code></label>
                                    <input type="text" class="form-control form-control-sm" required="" ng-model="StateCode" autocomplete="off">

                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <!-- <input type="text" class="form-control form-control-sm" required="" ng-model="StateName" autocomplete="off"> -->
                                    
                                    <select class="form-control form-control-sm" ng-init="" ng-model="stateId" required>
                                        <option value="" disabled>Nothing Selected</option>
                                            <option ng-repeat="sel in states"
                                                ng-selected="stateId == sel" value="{{sel._id}}">
                                                {{sel.stateName}}</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Is Active</label><br/>
                                    <input ng-model="status" type="checkbox" name="status"/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="btnsave">Save changes</button>
                    </div>

                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>