<div class="MembershipController" style="padding:10px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Membership type</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Master</a></li>
                        <li class="breadcrumb-item active">Membership type</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-lg" ng-click="Clear()">
                                <i class="fa fa-plus"></i> &nbsp;Add membership type
                              </button>
                        </div>

                        <div class="card-body table-responsive">
                            <table class="table table-striped table-bordered" datatable="ng" dt-options="vm.dtOptions">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Icon</th>
                                        <th>Membership type</th>
                                        <th>Registration fee</th>
                                        <th>CGST %</th>
                                        <th>SGST %</th>
                                        <th>IGST %</th>
                                        <th>Benefit list</th>

                                        <th style="width: 40px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in DataList">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            <a ng-href="{{imageroute}}/{{data.registrationIcon}}" target="_blank">
                                                <img ng-src="{{imageroute}}/{{data.registrationIcon}}" style="width: 90px;height: 80px;" />
                                            </a>
                                        </td>
                                        <td>{{data.membershipType}}</td>
                                        <td>₹{{data.registrationFee}}</td>
                                        <td>{{data.csgtPercent}}%</td>
                                        <td>{{data.sgstPercent}}%</td>
                                        <td>{{data.igstPercent}}%</td>
                                        <td>{{data.benefitList}}</td>
                                        <td width=10%>

                                            <button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="modal" data-target="#modal-lg" ng-click="EditData(data)"><i class="fa fa-edit"></i>
                                        </button>

                                            <button type="button" class="btn btn-danger btn-flat btn-sm " data-toggle="modal" ng-click="DeleteData(data._id)"><i class="fa fa-trash"></i>
                                        </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-lg">Membership type</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <form ng-submit="submitMemberShipType()">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Membership type</label>
                                    <input type="text" class="form-control form-control-sm" ng-model="MemberType" required placeholder="Membership Type" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Registration fee</label>
                                    <input type="number" class="form-control form-control-sm" ng-model="RegistrationFee" required="" placeholder="Registration Fee" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CGST %</label>
                                    <input type="number" step="0.01" min="0" max="100" class="form-control form-control-sm" required="" ng-model="CGSTPercent" placeholder="0%" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>SGST %</label>
                                    <input type="number" step="0.01" min="0" max="100" class="form-control form-control-sm" required="" ng-model="SGSTPercent" placeholder="0%" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>IGST %</label>
                                    <input type="number" step="0.01" min="0" max="100" class="form-control form-control-sm" required="" ng-model="IGSTPercent" placeholder="0%" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Registration Icon</label>
                                    <input type="file" class="btn-sm form-control-sm" file-input="files" >
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Benefit List</label>
                                    <textarea rows="2" cols="20" ng-model="BenefitList" name="basic" class="form-control form-control-sm" autocomplete="off" required=""></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="btnsave">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
